.zinnia {
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  background: none;
  font-size: 10pt; }
  .zinnia a, .zinnia a:link, .zinnia a:visited, .zinnia a:focus, .zinnia a:active, .zinnia a:hover {
    text-decoration: none;
    color: dodgerblue; }

#sidebar, .top-navigation, .comment-form {
  display: none; }

#header h1 {
  margin-bottom: 0; }
  #header h1 a {
    font-size: 2em;
    font-weight: bold; }
