{% load tagging_tags comments i18n %}

<h2 class="entryTitle">
  <a href="{{ object.get_absolute_url }}" title="{{ object.title }}">{{ object.title }}</a>
</h2>

<p class="entryMeta">
  {% trans "Written by" %} 
  {% for author in object.authors.all %}
  <a href="{% url zinnia_author_detail author %}" title="{% blocktrans with author as author %}Show {{ author }} entries{% endblocktrans %}">
    <strong>{{ author }}</strong>
  </a>{% if not forloop.last %}, {% endif %}
  {% endfor %}
  {% trans "on date" %} {{ object.creation_date|date:"d F Y"|capfirst }}
  {% trans "in" %} 
  {% for category in object.categories.all %}
  <a href="{{ category.get_absolute_url }}" title="{{ category }}">{{ category }}</a>
  {% if not forloop.last %}, {% endif %}
  {% endfor %}
</p>

<div class="entryContent">
  {% if object.image %}
  <img src="{{ object.image.url }}" alt="{{ object.title }}" />
  {% endif %}
  {{ object_content }}
</div>

<p class="entryTags">
  {% trans "Tags" %} :
  {% tags_for_object object as tag_list %}
  {% for tag in tag_list %}  
  <a href="{% url zinnia_tag_detail tag %}" title="Tag {{ tag }}">{{ tag }}</a>
  {% empty %}
  <span>{% trans "No tags" %}</span>
  {% endfor %}
</p>

<p class="entryShortUrl">
  {% trans "Short url" %} : 
  {% if object.get_short_url %}
  <a href="{{ object.get_short_url }}" title="{{ object.title }}">
    {{ object.get_short_url }}
  </a>
  {% else %}
  {% trans "Unavailable" %}
  {% endif %}
</p>

<p class="entryComments">
  {% with object.get_comments.count as comment_count %}
    {% if comment_count %}
  <a href="{{ object.get_absolute_url }}#comments" title="{{ object.title }}">
    {% blocktrans count comment_count as comment_count %}
      {{ comment_count }} comment
    {% plural %}
      {{ comment_count }} comments
    {% endblocktrans %}
  </a>
    {% else %}
      {% if object.comment_enabled %}
        {% trans "Not yet comments." %}
      {% else %}
        {% trans "Comments are closed." %}
      {% endif %}
    {% endif %}
  {% endwith %}
</p>


