{% extends "zinnia/entry_archive_base.html" %}
{% load i18n zinnia_tags %}

{% block link %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ ZINNIA_MEDIA_URL }}css/slider.css" />
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="{{ ZINNIA_MEDIA_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ ZINNIA_MEDIA_URL }}js/jquery.ui.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#slider").tabs({ fx:{ opacity: "toggle"}}).tabs("rotate", 5000, true);
      $("#slider").hover(
        function() { $("#slider").tabs("rotate", 0, true); },
        function() { $("#slider").tabs("rotate", 5000, true); });
    });
  </script>
{% endblock %}

{% block title %}{% trans "Latest entries" %}{% endblock %}

{% block content %}
{% get_featured_entries 5 "zinnia/tags/slider_entries.html" %}
{{ block.super }}
<!--<ul>
  {% for date in date_list %}
    <li>
      <a href="{% url zinnia_entry_archive_year date|date:"Y" %}" rel="archives">{{ date|date:"Y"|capfirst }}</a>
    </li>
  {% endfor %}
</ul>-->
{% endblock %}
