{% extends "zinnia/base.html" %}
{% load i18n tagging_tags zinnia_tags %}

{% block content %}
{% if category %}
<h1>{{ category.title }}</h1>
{% if category.description %}
<p>{{ category.description|striptags|safe }}</p>
{% endif %}
{% endif %}
 
{% if tag %}
<h1>{% trans "Tag" %} : {{ tag }}</h1>
{% endif %}
 
{% if author %}
<h1>{% blocktrans with author.username as author %}Entries by {{ author }}{% endblocktrans %}</h1>
{% endif %}

{% for object in object_list %}
<div class="entry">
  {% with object.get_content|truncatewords_html:100|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
</div>
{% empty %}
  {% trans "Not yet entries." %}
{% endfor %}

{% if is_paginated %}
<div class="paginator">
  {% if page_obj.has_previous %}
  <span class="previous">
    <a href="{% url zinnia_entry_archive_index_paginated page_obj.previous_page_number %}" class="previous">{% trans "More recent entries" %}</a>
  </span>
  {% endif %}
  <span class="current">
    {% trans "Page" %} {{ page_obj.number }} {% trans "on" %} {{ paginator.num_pages }}
  </span>
  {% if page_obj.has_next %}
  <span class="next">
    <a href="{% url zinnia_entry_archive_index_paginated page_obj.next_page_number %}">{% trans "More old entries" %}</a>
  </span>  
  {% endif %}
</div>
{% endif %}

<div class="widgets">
  <div class="categories">
    <h3>{% trans "Categories" %}</h3>
    {% get_categories %}
  </div>
  <div class="recents">
    <h3>{% trans "Recent entries" %}</h3>
    {% get_recent_entries 5 %}
  </div>
  <div class="randoms">
    <h3>{% trans "Random entries" %}</h3>
    {% get_random_entries 5 %}
  </div>
  <div class="populars">
    <h3>{% trans "Popular entries" %}</h3>
    {% get_popular_entries 5 %}
  </div>
</div>

{% endblock %}
