{% extends "zinnia/entry_list.html" %}
{% load i18n %}

{% block title %}{% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} | {% trans "Page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block meta-description %}{% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}{% if page_obj %}{% ifnotequal page_obj.number 1 %} {% trans "page" %} {{ page_obj.number }}{% endifnotequal %}{% endif %}{% endblock %}

{% block link %}
  {{ block.super }}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of search result of" %} '{{ pattern }}'" href="{% url zinnia_entry_search_feed %}?pattern={{ pattern }}" />
{% endblock %}

{% block content %}
<h1>{% trans "Search results for" %} {% if pattern %}'{{ pattern }}'{% endif %}</h1>

{% if error %}
<p class="error">{{ error }}</p>
{% endif %}

{% if object_list %}
<p class="success">
  {% blocktrans count paginator.count as entry_count %}{{ entry_count }} entry found{% plural %}{{ entry_count }} entries found{% endblocktrans %}
</p>
{% endif %}

{% for object in object_list %}
<div id="entry-{{ object.pk }}" class="hentry{% if object.featured %} featured{% endif %} span-16 last">
  {% with object.html_content|truncatewords_html:100|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
</div>
<hr />
{% empty %}
<p class="notice">{% trans "Nothing found." %}</p>
{% endfor %}

{% if is_paginated %}
<div class="paginator span-16 last">
  <span class="index">
    {% blocktrans with page_obj.number as current_page and paginator.num_pages as total_page %}Page {{ current_page }} of {{ total_page }}{% endblocktrans %}
  </span>
  {% if page_obj.has_previous %}
  <span class="previous">
    <a href="?pattern={{ pattern }}&page={{ page_obj.previous_page_number }}"
       title="{% trans "More recent entries" %}">&laquo;</a>
  </span>
  {% endif %}
  {% for page in paginator.page_range %}
  <span class="page {% ifequal page_obj.number page %}current{% endifequal %}">
    {% ifequal page_obj.number page %}
    <strong>{{ page }}</strong>
    {% else %}
    <a href="?pattern={{ pattern }}&page={{ page }}"
       title="{% trans "Entries page" %} {{ page }}">{{ page }}</a>
    {% endifequal%}
  </span>
  {% endfor %}
  {% if page_obj.has_next %}
  <span class="next">
    <a href="?pattern={{ pattern }}&page={{ page_obj.next_page_number }}"
       title="{% trans "More old entries" %}">&raquo;</a>
  </span>
  {% endif %}
</div>
{% endif %}
{% endblock %}
