{% extends "zinnia/entry_list.html" %}
{% load i18n zinnia_tags %}
{% load url from future %}

{% block meta-description %}{% trans "Latest entries" %}{% endblock %}

{% block title %}{% trans "Latest entries" %}{% endblock %}

{% block body-class %}{{ block.super }} archive index {% now "\y\e\a\r-Y \m\o\n\t\h-m \w\e\ek-W \d\a\y-d" %}{% endblock %}

{% block slider %}
{% get_featured_entries template="zinnia/tags/slider_entries.html" %}
{% endblock %}

{% block content-related %}
{% if date_list %}
<h2>{% trans "Yearly archives" %}</h2>
<ul>
  {% for date in date_list %}
  <li>
    <a href="{% url 'zinnia_entry_archive_year' date|date:"Y" %}" rel="archives">{{ date|date:"Y" }}</a>
  </li>
  {% endfor %}
</ul>
{% endif %}
{% endblock %}
