{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block content %}
<div class="entryPost">
  {% with object.get_content|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
</div>

<div class="entryRelated">
  <h3>{% trans "Related entries" %}</h3>
  {% get_related_entries 5 %}
</div>

<a name="comments"></a>
<div id="comments">
  {% with object.get_comments as comment_list %}
  {% if comment_list.count %}
  <ol id="commentList">
    {% for comment in comment_list %}
    <li class="alt {% cycle box1,box2 %}">
      <a class="gravatar">
	<img src="{% get_gravatar comment.email 60 "G" %}" />
      </a>
      <div class="commentbody">
	<a name="comment_{{ comment.pk }}"></a>
	<cite>{{ comment.user_name }}</cite>
	<br />
	{% if comment.url %}
	<small>
	  <a href="{{ comment.url }}" target="blank">{{ comment.url }}</a>
	</small>
	<br />
	{% endif %}				
	<small class="commentmetadata">
	  <a>{{ comment.submit_date|date:"l d F Y \a H:i" }}</a>
	</small>
	{{ comment.comment|safe|linebreaks }}
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not object.comment_enabled %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comment_enabled %}
  <p>{% trans "Be first to comment !" %}</p>
    {% endif %}
  {% endif %}

  {% if object.comment_enabled %}
  <h3>{% trans "Post your comment" %}</h3>
  <div class="commentForm">
    {% render_comment_form for object %}
  </div>
  {% endif %}
  {% endwith %}
</div>
{% endblock %}
