{% extends "zinnia/entry_list.html" %}
{% load i18n %}

{% block meta-description %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock %}

{% block title %}{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}{% endblock %}

{% block body-class %}{{ block.super }} archive date day year-{{ day|date:"Y" }} month-{{ day|date:"m" }} day-{{ day|date:"d" }}{% endblock %}

{% block content %}
<h1>{% trans "Archives" %} {{ day|date:"DATE_FORMAT" }}</h1>

{{ block.super }}

<!--<ul>
  <li>
    <a href="{% url zinnia_entry_archive_day previous_day|date:"Y" previous_day|date:"m" previous_day|date:"d" %}">{{ previous_day|date:"DATE_FORMAT" }}</a>
  </li>
  {% if next_day %}
  <li>
    <a href="{% url zinnia_entry_archive_day next_day|date:"Y" next_day|date:"m" next_day|date:"d" %}">{{ next_day|date:"DATE_FORMAT" }}</a>
  </li>
  {% endif %}
</ul>-->
{% endblock %}
