{% extends "zinnia/entry_list.html" %}
{% load i18n zinnia_tags %}

{% block meta-description %}{% trans "Latest entries" %}{% endblock %}

{% block link %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{{ ZINNIA_MEDIA_URL }}css/slider.css" />
{% endblock %}

{% block script %}
  {{ block.super }}
  <script type="text/javascript" src="{{ ZINNIA_MEDIA_URL }}js/jquery.js"></script>
  <script type="text/javascript" src="{{ ZINNIA_MEDIA_URL }}js/jquery.ui.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $("#slider").tabs({ fx:{ opacity: "toggle"}}).tabs("rotate", 5000, true);
      $("#slider").hover(
        function() { $("#slider").tabs("rotate", 0, true); },
        function() { $("#slider").tabs("rotate", 5000, true); });
    });
  </script>
{% endblock %}

{% block title %}{% trans "Latest entries" %}{% endblock %}

{% block zinnia_content %}
{% get_featured_entries 5 "zinnia/tags/slider_entries.html" %}
{{ block.super }}
{% endblock %}
