{% extends "zinnia/base.html" %}
{% load i18n tagging_tags comments zinnia_tags %}

{% block title %}{{ object.title }}{% endblock %}

{% block sidebar %}
<div class="entrySimilar">
  <h3>{% trans "Similar entries" %}</h3>
  {% get_similar_entries 5 %}
</div>
<div class="entryRelated">
  <h3>{% trans "Related entries" %}</h3>
  <ul>
    {% for entry in object.related_published_set %}
    <li>
      <a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}">{{ entry.title }}</a>
    </li>
    {% empty %}
    <li>{% trans "No entries related." %}</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}

{% block content %}
<div class="entryPost">
  {% with object.get_content|safe as object_content %}
  {% include "zinnia/_entry_detail.html" %}
  {% endwith %}
</div>

<hr />

<a name="comments"></a>
<div id="comments">
  <h3>{% trans "Comments" %}</h3>
  {% with object.get_comments as comment_list %}
  {% if comment_list.count %}
  <ol id="commentList">
    {% for comment in comment_list %}
    <li id="comment_{{ comment.pk }}" class="comment {% cycle box1,box2 %} span-15 last">
      <a name="comment_{{ comment.pk }}"></a>
      <div class="span-2">
	<img src="{% get_gravatar comment.email 60 "G" %}" class="gravatar" />
      </div>
      <div class="comment_body span-13 last">
	<div class="span-13 last">
	  {% if comment.url %}
	  <a href="{{ comment.url }}" target="blank">{{ comment.user_name }}</a>
	  {% else %}
	  {{ comment.user_name }}
	  {% endif %}
	  {% trans "on date" %} {{ comment.submit_date|date:"l d F Y H:i" }}
	</div>
	<div class="span-13 last">
	  <cite>
	    {{ comment.comment }}
	  </cite>
	</div>
      </div>
    </li>
    {% endfor %}
  </ol>
    {% if not object.comment_enabled %}
  <p>{% trans "Comments are closed." %}</p>
    {% endif %}
  {% else %}
    {% if object.comment_enabled %}
  <p>{% trans "Be first to comment !" %}</p>
    {% endif %}
  {% endif %}
  {% endwith %}
</div>

{% if object.comment_enabled %}
<hr />
<div class="commentForm">
  {% render_comment_form for object %}
</div>
{% endif %}

{% endblock %}
