{% extends "zinnia/entry_archive_base.html" %}
{% load i18n %}

{% block title %}{% trans "Archives" %} {{ month|date:"F Y"|capfirst }}{% endblock %}

{% block content %}
{{ block.super }}
<!--<ul>
  <li>
    <a href="{% url zinnia_entry_archive_month previous_month|date:"Y" previous_month|date:"m" %}">{{ previous_month|date:"F Y"|capfirst }}</a>
  </li>  
  {% if next_month %}
  <li>
    <a href="{% url zinnia_entry_archive_month next_month|date:"Y" next_month|date:"m" %}">{{ next_month|date:"F Y"|capfirst }}</a>
  </li>
  {% endif %}
</ul>-->
{% endblock %}
