[report]
source		= zinnia
omit		= */eggs/*,*/lib/*,*/demo/*,*/tests/*
exclude_lines	=
    pragma: no cover
    from xmlrpc.client import Fault
    from xmlrpc.client import Error
    from xmlrpc.client import DateTime
    from xmlrpc.client import ServerProxy
    from urllib.request import urlopen
    from urllib.parse import urlsplit
    from urllib.error import URLError
    from urllib.error import HTTPError
