*~
*.pyc
.noseids
TODO.txt
README.html
bin
lib
dist
eggs
parts
build
include
downloads
src_eggs
uploads
develop-eggs
.installed.cfg
.sass-cache
.coverage
.tox
docs/api
docs/build
docs/coverage
docs/tests.xml
demo/demo.db
django_blog_zinnia.egg-info/