*~
*.pyc
.noseids
TODO.txt
README.html
bin
lib
dist
eggs
parts
build
include
downloads
src_eggs
uploads
develop-eggs
.installed.cfg
.sass-cache
.coverage
.tox
docs/epydoc
docs/build
docs/coverage
demo/demo.db*
django_blog_zinnia.egg-info/