*~
*.pyc
.noseids
.coverage
.sass-cache
.installed.cfg
TODO.txt
bin
lib
dist
eggs
parts
include
uploads
node_modules
develop-eggs
django-apps-src
docs/build
demo/demo.db*
django_blog_zinnia.egg-info/
