include README.rst
include buildout.cfg
include bootstrap.py
recursive-include docs *
recursive-include patches *
recursive-include zinnia/fixtures *.json
recursive-include zinnia/locale *
recursive-include zinnia/media *
recursive-include zinnia/templates *.txt *.html *.js
prune docs/build
prune zinnia/media/zinnia/css/src/.sass-cache
