include README.rst
recursive-include docs *
recursive-include zinnia/fixtures *.json
recursive-include zinnia/locale *
recursive-include zinnia/media *
recursive-include zinnia/templates *.txt *.html
prune zinnia/media/zinnia/css/src/.sass-cache