include AUTHORS
include LICENSE
include CHANGELOG
include README.rst
include gulpfile.js
include package.json
include versions.cfg
include buildout.cfg
include bootstrap.py
recursive-include docs *
recursive-include demo *
recursive-include zinnia/fixtures *.json
recursive-include zinnia/locale *
recursive-include zinnia/static *
recursive-include zinnia/templates *.txt *.html *.xml *.js
exclude demo/demo.db*
prune docs/build
prune docs/coverage
