[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-contrib-comments = "*"
django-xmlrpc = "*"
django-mptt = "*"
django-tagging = "*"
mots-vides = "*"
beautifulsoup4 = "*"
regex = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.9"
