@mixin rebase($rebase03, $rebase02, $rebase01, $rebase00,
              $rebase0, $rebase1, $rebase2, $rebase3)
{
    background-color: $rebase03;
    color: $rebase0;
    * { color: $rebase0; }
    h1,h2,h3,h4,h5,h6 { color:$rebase1; border-color: $rebase0; }
    a, a:active, a:visited { color: $rebase1; }
}

@mixin accentize($accent) {
    a, a:active, a:visited, code.url { color: $accent; }
    h1,h2,h3,h4,h5,h6 {color: $accent; }
}
