{% load i18n %}

<tr>
  <th>{% trans "Contents" %}</th>
  <th>{% trans "Discussions" %}</th>
</tr>
<tr>
  <td>
    <a href="{% url admin:zinnia_entry_changelist %}">
      {% blocktrans %}{{ entries }} entries{% endblocktrans %}
    </a>
  </td>
  <td>
    <a href="{% url admin:comments_comment_changelist %}?is_public__exact=1">
      {% blocktrans %}{{ comments }} comments{% endblocktrans %}
    </a>
  </td>
</tr>
<tr>
  <td>
    <a href="{% url admin:zinnia_category_changelist %}">
      {% blocktrans %}{{ categories }} categories{% endblocktrans %}
    </a>
  </td>
  <td>{% blocktrans %}{{ pingbacks }} pingbacks{% endblocktrans %}</td>
</tr>
<tr>
  <td>
    <a href="{% url admin:tagging_tag_changelist %}">
      {% blocktrans %}{{ tags }} tags{% endblocktrans %}
    </a>
  </td>
  <td>{% blocktrans %}{{ trackbacks }} trackbacks{% endblocktrans %}</td>
</tr>
<tr>
  <td>
    <a href="{% url admin:auth_user_changelist %}">
      {% blocktrans %}{{ authors }} authors{% endblocktrans %}
    </a>
  </td>
  <td>
    <a href="{% url admin:comments_comment_changelist %}?is_public__exact=0">
      {% blocktrans %}{{ rejects }} rejected{% endblocktrans %}
    </a>
  </td>
</tr>
<tr>
  <th>{% trans "Statistics" %}</th>
  <td>
    {% blocktrans %}{{ entries_per_month }} entries per month{% endblocktrans %}
  </td>
</tr>
<tr>
  <td>
    {% blocktrans %}{{ words_per_entry }} words per entry{% endblocktrans %}
  </td>
  <td>
    {% blocktrans %}{{ words_per_comment }} words per comment{% endblocktrans %}
  </td>
</tr>
<tr>
  <td>
    {% blocktrans %}{{ comments_per_entry }} comments per entry{% endblocktrans %}
  </td>
  <td>
    {% blocktrans %}{{ linkbacks_per_entry }} linkbacks per entry{% endblocktrans %}
  </td>
</tr>
