{% load i18n %}
{% for entry in entries %}
<tr>
  <th>
    {% url 'admin:zinnia_entry_change' entry.pk as entry_edit_url %}
    {% blocktrans with entry_title=entry.title publication_date=entry.publication_date|date:"DATE_FORMAT" trimmed %}
    <a href="{{ entry_edit_url }}" title="Edit the entry">
      {{ entry_title }}
    </a>
    on
    <time>{{ publication_date }}</time>
    {% endblocktrans %}
    {{ entry.html_content|truncatewords_html:20|safe }}
  </th>
  <td>
    <a href="{{ entry.get_absolute_url }}" class="previewlink">
      {% trans "Preview" %}
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <th colspan="2">
    {% trans "No draft entries." %}
  </th>
</tr>
{% endfor %}

{% if entries %}
<tr>
  <th colspan="2">
    <a href="{% url 'admin:zinnia_entry_changelist' %}?status__exact=0"
       title="{% trans "View all draft entries" %}" class="managelink">
      {% trans "View all draft entries" %}
    </a>
  </th>
</tr>
{% endif %}
