{% load i18n %}
{% load zinnia %}

{% for linkback in linkbacks %}
<tr>
  <th>
    {% with entry=linkback.content_object %}
    {% blocktrans with linkback_url=linkback.url linkback_name=linkback.name linkback_type=linkback.flags.all.0.flag linkback_pk=linkback.pk entry_url=entry.get_absolute_url entry_title=entry.title trimmed %}
    <a href="{{ linkback_url }}">{{ linkback_name }}</a>
    made a linkback on
    <a href="{{ entry_url }}#{{ linkback_type }}-{{ linkback_pk }}"
       title="Linkback on {{ entry_title }}">
      {{ entry_title }}
    </a>
    {% endblocktrans %}
    {% endwith %}
    {{ linkback.comment|truncatewords:20|linebreaks }}
  </th>
  <td>
    <a href="{% url 'change'|comment_admin_urlname linkback.pk %}"
       title="{% trans "Edit the linkback" %}" class="changelink">
      {% trans "Edit" %}
    </a>
  </td>
</tr>
{% empty %}
<tr>
  <th colspan="2">
    {% trans "No linkbacks yet." %}
  </th>
</tr>
{% endfor %}
