{% extends "admin/app_index.html" %}
{% load i18n staticfiles %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "zinnia/admin/dashboard/css/dashboard.css" %}" />
{% endblock extrastyle %}

{% block extrahead %}
{{ block.super }}
<script type="text/javascript" src="{% static "zinnia/admin/dashboard/js/masonry.pkgd.js" %}"></script>
{% endblock extrahead %}

{% block content %}
<div id="content-main">
  {% include "admin/zinnia/widgets/content_stats.html" %}
  {% include "admin/zinnia/widgets/quickpost.html" %}
  {% include "admin/zinnia/widgets/recent_comments.html" %}
  {% include "admin/zinnia/widgets/draft_entries.html" %}
  {% include "admin/zinnia/widgets/recent_linkbacks.html" %}
</div>
{% endblock content %}

{% block footer %}
<script type="text/javascript">
var msnry = new Masonry("#content-main", {
  itemSelector: ".module",
  gutter: 10
});
</script>
{{ block.super }}
{% endblock footer %}
