{% extends "zinnia/base.html" %}
{% load i18n zinnia_tags comments %}

{% block title %}{% trans "Comment preview" %}{% endblock %}

{% block body-class %}comment-preview{% endblock %}

{% block content %}
  {% if form.errors %}
  <h2>{% blocktrans count errors=form.errors|length %}Please correct following error.{% plural %}Please correct following errors.{% endblocktrans %}</h2>
  {% else %}
  <h2>{% trans "Preview of the comment" %}</h2>
  <ol id="comment-list">
    <li id="comment_preview" class="comment vcard box1">
      <img src="{% get_gravatar form.cleaned_data.email 60 "G" %}"
           class="gravatar photo" alt="form.cleaned_data.name" />
      <p class="comment-info">
	{% if form.cleaned_data.url %}
	<a href="{{ form.cleaned_data.url }}" rel="external nofollow"
           class="fn url">{{ form.cleaned_data.name }}</a>
	{% else %}
	{{ form.cleaned_data.name }}
	{% endif %}
	{% trans "on" %}
        <abbr class="comment-published" title="{% now "c" %}">
          {% now "SHORT_DATETIME_FORMAT" %}
        </abbr>
      </p>
      {{ comment|linebreaks }}
    </li>
  </ol>
  {% endif %}
  {% include "comments/zinnia/entry/form.html" %}
{% endblock %}
