.zinnia {
  text-align: center; }
  * html .zinnia legend {
    margin: 0px -8px 16px 0;
    padding: 0; }
  html > .zinnia p code {
    *white-space: normal; }
  .zinnia .container {
    text-align: left; }
  .zinnia sup {
    vertical-align: text-top; }
  .zinnia sub {
    vertical-align: text-bottom; }
  .zinnia hr {
    margin: -8px auto 11px; }
  .zinnia img {
    -ms-interpolation-mode: bicubic; }
  .zinnia fieldset {
    padding-top: 0; }
  .zinnia legend {
    margin-top: -0.2em;
    margin-bottom: 1em;
    margin-left: -0.5em; }
  .zinnia fieldset, .zinnia #IE8#HACK {
    padding-top: 1.4em; }
  .zinnia legend, .zinnia #IE8#HACK {
    margin-top: 0;
    margin-bottom: 0; }
  .zinnia textarea {
    overflow: auto; }
  .zinnia label {
    position: relative;
    top: -0.25em; }
  .zinnia input.text {
    margin: 0.5em 0;
    background-color: white;
    border: 1px solid #bbbbbb; }
    .zinnia input.text:focus {
      border: 1px solid #666666; }
  .zinnia input.title {
    margin: 0.5em 0;
    background-color: white;
    border: 1px solid #bbbbbb; }
    .zinnia input.title:focus {
      border: 1px solid #666666; }
  .zinnia input.checkbox {
    position: relative;
    top: 0.25em; }
  .zinnia input.radio {
    position: relative;
    top: 0.25em; }
  .zinnia input.button {
    position: relative;
    top: 0.25em; }
  .zinnia textarea {
    margin: 0.5em 0; }
  .zinnia select {
    margin: 0.5em 0; }
  .zinnia button {
    position: relative;
    top: 0.25em; }
