.zinnia { line-height: 1.5; font-family: Arial, Helvetica, sans-serif; color: black; background: none; font-size: 10pt; font-size: 2em; }
.zinnia .container { background: none; }
.zinnia hr { background: #cccccc; color: #cccccc; width: 100%; height: 2px; margin: 2em 0; padding: 0; border: none; }
.zinnia hr.space { background: white; color: white; }
.zinnia h1, .zinnia h2, .zinnia h3, .zinnia h4, .zinnia h5, .zinnia h6 { font-family: Arial, Helvetica, sans-serif; }
.zinnia code { font-size: 0.9em; font-family: "andale mono", "lucida console", monospace; }
.zinnia a img { border: none; }
.zinnia a:link, .zinnia a:visited { background: transparent; font-weight: 700; text-decoration: underline; }
.zinnia p img.top { margin-top: 0; }
.zinnia blockquote { margin: 1.5em; padding: 1em; font-style: italic; font-size: 0.9em; }
.zinnia .small { font-size: 0.9em; }
.zinnia .large { font-size: 1.1em; }
.zinnia .quiet { color: #999999; }
.zinnia .hide { display: none; }
.zinnia a, .zinnia a:link, .zinnia a:visited, .zinnia a:focus, .zinnia a:active, .zinnia a:hover { text-decoration: none; color: #0066aa; }

#sidebar, .top-navigation, .comment-form { display: none; }

#header h1 { margin-bottom: 0; }
#header h1 a { font-size: 2em; font-weight: bold; }
