html { margin: 0; padding: 0; border: 0; }

.bp-reset-element, body, h1, h2, h3, h4, h5, h6, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, q, th, td, caption, table, div, span, object, iframe, p, pre, a, abbr, acronym, address, code, del, dfn, em, img, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr { margin: 0; padding: 0; border: 0; font-weight: inherit; font-style: inherit; font-size: 100%; font-family: inherit; vertical-align: baseline; }

article, aside, dialog, figure, footer, header, hgroup, nav, section { display: block; }

blockquote, q { quotes: "" ""; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; }

th, td, caption { float: none !important; text-align: left; font-weight: normal; vertical-align: middle; }

table { border-collapse: separate; border-spacing: 0; vertical-align: middle; }

a img { border: none; }

body#zinnia { line-height: 1.5; font-family: Arial, Helvetica, sans-serif; color: #333333; font-size: 75%; }
body#zinnia h1, body#zinnia h2, body#zinnia h3, body#zinnia h4, body#zinnia h5, body#zinnia h6 { font-weight: normal; color: #3399cc; }
body#zinnia h1 img, body#zinnia h2 img, body#zinnia h3 img, body#zinnia h4 img, body#zinnia h5 img, body#zinnia h6 img { margin: 0; }
body#zinnia h1 { font-size: 3em; line-height: 1; margin-bottom: 0.50em; }
body#zinnia h2 { font-size: 2em; margin-bottom: 0.75em; }
body#zinnia h3 { font-size: 1.5em; line-height: 1; margin-bottom: 1.00em; }
body#zinnia h4 { font-size: 1.2em; line-height: 1.25; margin-bottom: 1.25em; }
body#zinnia h5 { font-size: 1em; font-weight: bold; margin-bottom: 1.50em; }
body#zinnia h6 { font-size: 1em; font-weight: bold; }
body#zinnia p { margin: 0 0 1.5em; }
body#zinnia p .left { display: inline; float: left; margin: 1.5em 1.5em 1.5em 0; padding: 0; }
body#zinnia p .right { display: inline; float: right; margin: 1.5em 0 1.5em 1.5em; padding: 0; }
body#zinnia a { text-decoration: underline; color: #006699; }
body#zinnia a:visited { color: #006699; }
body#zinnia a:focus { color: #003366; }
body#zinnia a:hover { color: #003366; }
body#zinnia a:active { color: #006699; }
body#zinnia blockquote { margin: 1.5em; color: #666666; font-style: italic; }
body#zinnia strong, body#zinnia dfn { font-weight: bold; }
body#zinnia em, body#zinnia dfn { font-style: italic; }
body#zinnia sup, body#zinnia sub { line-height: 0; }
body#zinnia abbr, body#zinnia acronym { border-bottom: 1px dotted #666666; }
body#zinnia address { margin: 0 0 1.5em; font-style: italic; }
body#zinnia del { color: #666666; }
body#zinnia pre { margin: 1.5em 0; white-space: pre; }
body#zinnia pre, body#zinnia code, body#zinnia tt { font: 1em "andale mono", "lucida console", monospace; line-height: 1.5; }
body#zinnia li ul, body#zinnia li ol { margin: 0; }
body#zinnia ul, body#zinnia ol { margin: 0 1.5em 1.5em 0; padding-left: 1.5em; }
body#zinnia ul { list-style-type: disc; }
body#zinnia ol { list-style-type: decimal; }
body#zinnia dl { margin: 0 0 1.5em 0; }
body#zinnia dl dt { font-weight: bold; }
body#zinnia dd { margin-left: 1.5em; }
body#zinnia table { margin-bottom: 1.4em; width: 100%; }
body#zinnia th { font-weight: bold; }
body#zinnia thead th { background: #c3d9ff; }
body#zinnia th, body#zinnia td, body#zinnia caption { padding: 4px 10px 4px 5px; }
body#zinnia table.striped tr:nth-child(even) td, body#zinnia table tr.even td { background: #e5ecf9; }
body#zinnia tfoot { font-style: italic; }
body#zinnia caption { background: #eeeeee; }
body#zinnia .quiet { color: #666666; }
body#zinnia .loud { color: #111111; }
body#zinnia .feedback, body#zinnia .error, body#zinnia .alert, body#zinnia .notice, body#zinnia .success, body#zinnia .info { padding: 0.8em; margin-bottom: 1em; border: 2px solid #dddddd; }
body#zinnia .error, body#zinnia .alert { background: #fbe3e4; color: #8a1f11; border-color: #fbc2c4; }
body#zinnia .error a, body#zinnia .alert a { color: #8a1f11; }
body#zinnia .notice { background: #fff6bf; color: #514721; border-color: #ffd324; }
body#zinnia .notice a { color: #514721; }
body#zinnia .success { background: #e6efc2; color: #264409; border-color: #c6d880; }
body#zinnia .success a { color: #264409; }
body#zinnia .info { background: #d5edf8; color: #205791; border-color: #92cae4; }
body#zinnia .info a { color: #205791; }
body#zinnia .hide { display: none; }
body#zinnia .highlight { background: yellow; }
body#zinnia .added { background: #006600; color: white; }
body#zinnia .removed { background: #990000; color: white; }

body#zinnia .container { width: 950px; margin: 0 auto; overflow: hidden; *zoom: 1; }
body#zinnia #header, body#zinnia #footer { display: inline; float: left; margin-right: 10px; width: 950px; }
* html body#zinnia #header, * html body#zinnia #footer { overflow-x: hidden; }
body#zinnia #sidebar { display: inline; float: left; margin-right: 0; width: 310px; }
* html body#zinnia #sidebar { overflow-x: hidden; }
body#zinnia #content { display: inline; float: left; margin-right: 10px; width: 630px; }
* html body#zinnia #content { overflow-x: hidden; }
