{% load i18n %}
<ul class="{% if not comments %}no-{% endif %}comments-recent">
  {% for comment in comments %}
  <li>
    {% with entry=comment.content_object %}
    {% blocktrans with comment_author=comment.name comment_pk=comment.pk comment_author_slug=comment.user_name|slugify entry_url=entry.get_absolute_url entry_title=entry.title trimmed %}
    {{ comment_author }} in
    <a href="{{ entry_url }}#comment-{{ comment_pk }}-by-{{ comment_author_slug }}"
       title="Comment on {{ entry_title }}">
      {{ entry_title }}
    </a>
    {% endblocktrans %}
    {% endwith %}
  </li>
  {% empty %}
  <li>
    {% trans "No comments yet." %}
  </li>
  {% endfor %}
</ul>
