{% load i18n %}
<ul class="{% if not linkbacks %}no-{% endif %}linkbacks-recent">
  {% for linkback in linkbacks %}
  <li>
    {% with entry=linkback.content_object %}
    <a href="{{ linkback.url }}">{{ linkback.name }}</a>
    {% trans "in" %}
    <a href="{{ entry.get_absolute_url }}#c{{ linkback.pk }}"
       title="{% blocktrans with object=entry.title %}Linkback on {{ object }}{% endblocktrans %}">
      {{ entry.title }}
    </a>
    {% endwith %}
  </li>
  {% empty %}
  <li>
    {% trans "No linkbacks yet." %}
  </li>
  {% endfor %}
</ul>
