{% load i18n %}
{% load staticfiles %}
<form method="get" id="searchform" action="{% url 'zinnia:entry_search' %}">
  <p>
    <input type="text" name="pattern" id="searchbox" placeholder="{% trans "Keywords..." %}" {% if pattern %}value="{{ pattern }}"{% endif %} />
    <input type="submit" class="submitbutton" value="OK" />
    <a title="{% trans 'You can use - to exclude words or phrases, &quot;double quotes&quot; for exact phrases and the AND/OR boolean operators combined with parenthesis for complex queries.' %}">
      <img src="{% static "zinnia/theme/img/help.png" %}" alt="?" class="help" width="14" height="14" />
    </a>
  </p>
</form>
