body.dashboard #content {
  width: 75%;
}

.module {
  width: 400px;
  margin-right: 5px;
  table {
    width: 100%;
    th, td {
      font-size: 12px;
    }
  }
}

.managelink {
  background: image-url("manage.png") no-repeat scroll 0 0.2em transparent;
  padding-left: 12px;
}

.previewlink {
  background: image-url("preview.png") no-repeat scroll 0 0.2em transparent;
  padding-left: 12px;
}

input, textarea, select {
  border: 1px solid #cccccc;
}

.vTextField, .vLargeTextField {
  width: 25em;
}

.required label, label.required {
  color: #333333 !important;
  font-weight: bold !important;
}

.button {
  float: left;
  margin-right: 5px;
}

#contents {
  th {
    width: 50%;
  }
  td {
    padding-left: 10px;
    a {
      font-weight: bold;
    }
  }
}

#quickpost {
  th {
    width: 20%;
    vertical-align: middle;
  }
  td {
    width: 100%;
  }
}

#comments {
  th {
    width: 10%;
  }
  td {
    width: 100%;
    white-space: normal;
    a {
      display: inline;
    }
  }
}

#drafts, #linkbacks, #comments {
  th {
    font-weight: normal;
    a {
      font-weight: bold;
    }
    abbr {
      color: #666666;
    }
  }
}
