// Reset the elements.
@import "compass/reset";
// Load configurables variables.
@import "config/base";
// Import all the default Blueprint and Susy modules
// so that we can access their mixins.
@import "blueprint";
@import "susy";
// Import the mixins
@import "mixins/icons";
@import "mixins/tag-cloud";
@import "mixins/delimited-list";
@import "mixins/slider-buttons";
// Combine the partials into a single screen stylesheet.
// under the body.zinnia class to avoid interferences
.zinnia {
  @import "partials/page";
  @import "partials/layouts";
  @import "partials/forms";
  @import "partials/header";
  @import "partials/footer";
  @import "partials/breadcrumbs";
  @import "partials/sidebar";
  @import "partials/entry";
  @import "partials/linkbacks";
  @import "partials/paginator";
  @import "partials/slider";
  @import "partials/django-fixes";
}
