ul.breadcrumbs {
  display: none;
}

@media (min-width: 480px) {
  ul.breadcrumbs {
    display: block;
    @include delimited-list("/");
    margin: 0;
    font-size: 1.2em;
    background: transparent image-url("breadcrumb.png") no-repeat scroll left center;
  }
}