#header {
  margin-top: 0.5em;
  margin-bottom: 1em;

  h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-size: 4em;
    font-weight: bold;
    &:first-letter {
      font-size: 120%;
    }
  }

  blockquote {
    border: none;
    background: none;
    padding: 0;
  }

  .top-navigation {
    margin: 0;
    float: right;
    @include delimited-list("|");
    .sitemap {
      @include header-icon("sitemap.png");
    }
    .feeds {
      @include header-icon("rss.png");
    }
  }
}
