#comments, #pingbacks, #trackbacks {
  li {
    list-style: none;
    padding: 1em 1em 0 1em;
    margin-bottom: 1em;
    border: 1px solid $border-color;
  }
}

#comments {
  li {
    min-height: 90px;
  }
  img {
    float: left;
    margin-right: 1em;
    padding: 0.5em;
    border: 1px solid $border-color;
  }
}

.post-author img.photo {
  background-color: $box-color;
}

p {
  &.comment-info, &.trackback-info, &.pingback-info {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 0.5em;
  }
}

.anchor-link {
  font-weight: normal;
  font-size: 1em;
}