ul.paginator {
  padding: 0;
  font-size: 1.2em;
  li {
    list-style: none;
    display: inline-block;
    margin-right: 0.3em;
    &.current {
      font-weight: bold;
    }
    &.current, &.index, &.ellipsis, * {
      padding: 0 0.5em;
    }
  }
}
