&.light {
  @include rebase($base3, $base2, $base1, $base0,
                  $base00, $base01, $base02, $base03);
}

&.dark  {
  @include rebase($base03, $base02, $base01, $base00,
                  $base0, $base1, $base2, $base3);
}
