{% extends "zinnia/base.html" %}

{% block title %}Preview du commentaire{% endblock %}

{% block navigation %}
  <li><a href="{% url zinnia_entry_list %}">Retour &agrave; l'actu</a></li>
{% endblock %}

{% block content %}
  {% load comments %}
  <form action="{% comment_form_target %}" method="post">
    {% if form.errors %}
      <h3>Veuillez corriger les erreur{{ form.errors|pluralize }} suivantes</h3>
    {% else %}
      <h3>Pr&eacute;visualisation</h3>
      <div class="comment_box1">
        <p>{{ comment|escape|linebreaks }}</p>
      </div>
    {% endif %}
    <br />
    <h3>Commentaire</h3>
    <table>
    {% for field in form %}
      {% if field.is_hidden %}
        {{ field }}
      {% else %}
        <tr
          {% if field.errors %} class="error"{% endif %}
          {% ifequal field.name "honeypot" %} style="display:none;"{% endifequal %}>
          <td>{% if field.errors %}{{ field.errors }}{% endif %}
          {{ field.label_tag }}</td><td> {{ field }}</td>
        </tr>
      {% endif %}
    {% endfor %}
    </table>
    <p class="submit">
      <input type="submit" name="submit" class="submit-post" value="Poster">
      <input type="submit" name="submit" class="submit-preview" value="Preview">
    </p>
  </form>
{% endblock %}