beautifulsoup4==4.5.3
django==1.10.5
django-contrib-comments==1.8.0
django-mptt==0.8.7
django-tagging==0.4.5
django-xmlrpc==0.1.7
mots-vides==2015.5.11
pillow==4.0.0
pyparsing==2.1.10
regex==2017.02.08
