beautifulsoup4==4.8.2
django==3.0.4
django-contrib-comments==1.9.2
django-mptt==0.11.0
django-tagging==0.5.0
django-xmlrpc==0.1.8
mots-vides==2015.5.11
pillow==7.0.0
pyparsing==2.4.6
regex==2020.2.20
