pillow==2.2.1
django==1.6
django-bitly==0.7
django-mptt==0.6.0
django-tagging==0.3.2
django-xmlrpc==0.1.5
beautifulsoup4==4.3.2
akismet==0.2.0
pymollom==0.1
feedparser==5.1.3
gdata==2.0.18
pyparsing==2.0.1
