@mixin delimited-list($separator: ", ") {
  margin: 0;
  list-style-type: none;
  li {
    margin: 0;
    padding: 0;
    display: inline;
    &:after {
      content: $separator; }
    &:last-child {
      &:after {
        content: ""; } }
    &.last {
      &:after {
        content: ""; } } } }

ul.breadcrumbs {
  @include delimited-list("/");
  font-size: 1.2em;
  background: transparent url(../img/breadcrumb.png) no-repeat scroll left center;
}
