@mixin strong-icon($icon) {
  strong {
    padding-left: 1.5em;
    background: transparent url($icon) no-repeat scroll;
  }
}

.hentry {
  margin-bottom: 1em;
}

h2.entry-title {
  font-weight: bold;
  border-bottom: 1px solid $box-color;
  margin-bottom: 0;
}

p.entry-info {
  color: $box-font-color;
  padding-left: 2em;
  background: transparent url(../img/category.png) no-repeat scroll 0.5em;
}

.entry-body {
  padding: 0 1em;
  font-size: 1.2em;
  img {
    margin: 1.5em;
    float: left;
  }
  pre, blockquote {
    width: auto;
    overflow: auto;
    padding: 1em;
    clear: none;
    float: none;
    background-color: $box-color;
  }
  blockquote {
    border: 1px dashed $box-font-color;
    p {
      margin: 0;
      font-size: 1.5em;
    }
  }
  pre {
    line-height: 110%;
    border-top: 1px solid $box-font-color;
    border-bottom: 1px solid $box-font-color;
  }
}

.entry-footer p {
  margin: 0;
}

.entry-tags {
  @include strong-icon("../img/tags.png");
}

.entry-shorturl {
  @include strong-icon("../img/shorturl.png");
}

.entry-comments {
  @include strong-icon("../img/comments.png");
}

.entry-widgets {
  p, ul { padding-left: 1.5em; }
  li {
    list-style-image: url(../img/bullet.png);
  }
}

.entry-widgets, #comments, #pingbacks, #trackbacks {
  padding-top: 1em;
  border-top: 1px solid $box-color;
}
