#comments, #pingbacks, #trackbacks {
  li {
    list-style: none;
    border: 1px solid $box-color;
    &.box2 {
      background-color: $box-color;
    }
    &.post-author {
      background-color: $box-color;
    }
  }

  img {
    padding: 1em;
  }
}
