#comments, #pingbacks, #trackbacks {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      margin: 0;
      padding: 0;
      list-style-image: none;
      list-style-type: none;
    }
  }
}
/*
#comments {
  img {
    padding: 1em;
  }
}
*/