#comments, #pingbacks, #trackbacks {
  li {
    list-style: none;
    border: 1px solid $box-color;
    &.box2 {
      border-color: $box-font-color;
      background-color: $box-color;
    }
    &.post-author {
      color: $box_font_color
    }
  }

  img {
    padding: 1em;
  }
}
