ul.paginator {
  padding: 0;
  font-size: 1.2em;
  li {
    list-style: none;
    display: inline-block;
    padding: 0 0.5em;
    margin-right: 0.3em;
    border: solid 1px $border-color;
    &.current {
      color: white;
      background-color: $link-color;
    }
    &.page:hover {
      background-color: $link-color;
      a { color: white; }
    }
  }
}
