.zinnia {
  @include blueprint-typography(true);
  @include blueprint-interaction;
  background: transparent url(../img/background.gif) repeat-x scroll left top;
  a {
    text-decoration: none;
    &:hover { text-decoration: underline; }
  }
  li {
    list-style-image: url(../img/bullet.png);
  }
}
