@mixin tag-cloud($base-size:1em) {
  padding: 0;
  font-size: $base-size;
  line-height: 1.2 * $base-size;
  li {
    list-style: none;
    display: inline;
  }
  .tag-1 {
    font-size: $base-size / 2;
    color: lighten($link-color, 40%);
  }
  .tag-2 {
    font-size: 2 * $base-size / 3;
    color: lighten($link-color, 20%);
  }
  .tag-3 {
    font-size: 3 * $base-size / 4;
    color: lighten($link-color, 10%);
  }
  .tag-4 {
    font-size: 4 * $base-size / 3;
    color: darken($link-color, 10%);
  }
  .tag-5 {
    font-size: 3 * $base-size / 2;
    color: darken($link-color, 20%);
  }
  .tag-6 {
    font-size: 2 * $base-size;
    color: darken($link-color, 40%);
  }
}

#sidebar {
  h3 {
    padding: 0.5em;
    background-color: $box-color;
  }

  p { padding-left: 1em; }

  ul, ol {
    margin-left: 1em;
    ul, ol {
      margin-left: 0em;
    }
  }
}

#widget-tags {
  ul.tags { @include tag-cloud(1.4em); }
}

#widget-populars {
  a { display: block; }
}

#widget-search {
  input[type=text] { width: 70%; }
}

#widget-archives {
  text-transform: capitalize;
}

table.calendar {
  table-layout: fixed;
  caption, td, th {
    padding: 4px 0;
    text-align: center;
  }
  caption {
    background: none;
    font-weight: bold;
    color: $header-color;
    text-transform: uppercase;
  }
  th, tfoot td {
    background: none repeat scroll 0 0 $box-color;
    border-bottom: 1px solid darken($box-color, 10%);
    border-top: 1px solid darken($box-color, 10%);
  }
  tfoot td {
    font-style: normal;
    text-transform: capitalize;
  }
  .entry {
    font-weight: bold;
  }
}
