$max-width: 100%;
$number-of-items: 5;

$slider-width: 80%;
$slider-height: 250px;
$panel-height: 70px;

$nav-padding: 3px;
$info-padding: 3%;

$tab-nav-width: $max-width - $slider-width;
$tab-nav-height: $slider-height / $number-of-items - 1;
$tab-nav-img-height: $tab-nav-height - $nav-padding * 2;
$tab-nav-img-width: 30%;

.slider {
  width: $slider-width;
  padding-right: $tab-nav-width;
  position: relative;
  height: $slider-height;
  margin-bottom: 1em;
  ul.ui-tabs-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    top: 0;
    left: 64%;
    position: absolute;
    overflow: hidden;
    li {
      width: 100%;
      a {
        display: block;
        height: $tab-nav-height;
        border-bottom: 1px solid $box-color;
        img {
          float: left;
          border: 0;
          padding: $nav-padding;
          width: $tab-nav-img-width;
          height: $tab-nav-img-height;
        }
      }
      a:hover {
        text-decoration: none;
        background: $box-color;
      }
      &.ui-tabs-selected {
        a {
          color: white;
          background: $link-color;
        }
      }
    }
  }
  div.ui-tabs-panel {
    position: relative;
    width: 100%;
    height: $slider-height;
    .panel-info {
      left: 0;
      bottom: 0;
      position: absolute;
      height: $panel-height;
      padding: $info-padding;
      color: white;
      overflow: hidden;
      background: url(../img/trans.png);
      width: $slider-width - $info-padding * 2;
      a {
        color: lighten($link-color, 30%);
      }
    }
    h2 {
      margin: 0;
      overflow: hidden;
    }
    img {
      width: $slider-width;
      height: $slider-height;
    }
  }
  .ui-tabs-hide {
    display: none;
  }
}
