/* 2.4.1 Featured */
#featured {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  min-height: 350px; /* ARGH */
  background: url(../img/ico-loader.gif) no-repeat center center;
}
#featured .loaded {
  background: none;
}
#featured .slides {
  /* Hide the slides before the JS is loaded. Avoids image jumping */
  margin: 0;
}
#featured .slide-img img {
  width: 100%;
}
#featured .slides li.slide {
  position: relative;
  display: none;
  list-style: none;
}
#featured img {
  display: block;
}

#featured article {
  margin: 0;
  padding: 15px 20px 10px;
  background: #000;
  border: none;
  display: block;
}
#featured article header h1, #featured article header h1 a {
  line-height: 1.2;
  color: #fff;
}
#featured article header .featured-meta li {
  display: inline;
  color: #fff;
  font-size: 0.8em;
}
#featured article header .featured-meta li a {
  color: #fff;
}
#featured article header .featured-meta .post-author {
  color: #ababab;
  margin: 0 11px 0 0;
  padding: 0 10px 0 0;
  border-right: 1px dotted #fff;
}
#featured article header .featured-meta .post-author a {
  color: #ababab;
}

.slide-container {
  max-width: 800px;
  position: relative;
  height: auto;
  padding: 0 0 2.3em;
  /* My customizations */
  ul, ol, li {
    padding: 0;
    list-style: none outside none;
   }
  @include full;
  /* end My customizations */
}
.slide-container.no-nav.no-pagi {
  padding: 0;
}
.slide-container .flex-control-nav {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  margin: 10px auto 0;
  padding: 0;
  text-align: center;
  display: block;
}
.slide-container .flex-control-nav li {
  display: inline;
  margin: 0 5px;
  list-style: none;
}
.slide-container .flex-control-nav li a {
  display: inline-block;
  height: 0;
  width: 8px;
  overflow: hidden;
  padding-top: 8px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #919191;
  cursor: pointer;
}
.slide-container .flex-control-nav li a:hover, .slide-container .flex-control-nav li a.active {
  background: #222222;
}
.slide-container .flex-direction-nav .prev, .slide-container .flex-direction-nav .next {
  display: block;
  height: 0;
  width: 14px;
  position: absolute;
  bottom: 2px;
  padding-top: 22px;
  overflow: hidden;
  /*filter: alpha(opacity=@opacity * 100);*/
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  opacity: 0.8;
}
.slide-container .flex-direction-nav .prev:hover, .slide-container .flex-direction-nav .next:hover {
  /*filter: alpha(opacity=@opacity * 100);*/
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}
.slide-container .flex-direction-nav .prev {
  left: 0;
  background: url(../img/ico-featured-prev.png) no-repeat center center;
}
.slide-container .flex-direction-nav .next {
  right: 0;
  background: url(../img/ico-featured-next.png) no-repeat center center;
}

@media only screen and (min-width: 900px) {
  .slide-container.no-pagi {
    padding: 0;
  }
  .slide-container .flex-direction-nav .prev, .slide-container .flex-direction-nav .next {
    bottom: 65px;
  }
  .slide-container .flex-direction-nav .prev {
    left: -33px;
  }
  .slide-container .flex-direction-nav .next {
    right: -33px;
  }
}

#featured article.not-video {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

#featured article.not-video header .featured-meta {
    margin: 3px 0 5px;
}
#featured article.not-video header .featured-meta li {
    font-size: 1em;
}
