.slider-container {
  max-width: 800px;
  position: relative;
  height: auto;
  padding: 0 0 2.3em;
  /* My customizations */
  ul, ol, li {
    padding: 0;
    list-style: none outside none;
   }
  @include full;
  /*@include pad(1, 1);*/
  /* end My customizations */
}

.slider {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: url(../img/ico-loader.gif) no-repeat center center;
}

.slides {
  &:before, &:after {
   content: " ";
   height: 0;
   display: block;
   overflow: hidden;
  }
  &:after {
    clear: both;
  }
}

.slide {
  position: relative;
  display: none;
  list-style: none;
  img {
    width: 100%;
    display: block;
  }
}

.slide-content {
  margin: 0;
  padding: 15px 20px 10px;
  background-color: rgba(0, 0, 0, 0.7);
  border: none;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  h1, h1 a {
    line-height: 1.2;
    color: #fff;
  }
  .featured-meta {
    margin: 3px 0 5px;
    li {
      display: inline;
      color: #fff;
      font-size: 1em;
      a {
        color: #fff;
      }
    }
  }
  .post-author {
    color: #ababab;
    margin: 0 11px 0 0;
    padding: 0 10px 0 0;
    border-right: 1px dotted #fff;
    a {
      color: #ababab;
    }
  }
}


// navigation controlers
.flex-control-nav {
  position: absolute;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  padding: 0;
  text-align: center;
  display: block;
  li {
    display: inline;
    margin: 0 5px;
    list-style: none;
    a {
      display: inline-block;
      height: 0;
      width: 8px;
      overflow: hidden;
      padding-top: 8px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      border-radius: 10px;
      background: #919191;
      cursor: pointer;
      &:hover, &.active {
        background: #222222;
      }
    }
  }
}



// Left/Right controlers
@mixin nav-direction-button($image-url, $direction) {
  #{$direction}: 0;
  background: url($image-url) no-repeat center center;
}

@mixin low-nav-direction-button($direction) {
  bottom: 65px;
  #{$direction}: -33px;
}

.flex-direction-nav {
  a {
    display: block;
    height: 0;
    width: 14px;
    position: absolute;
    padding-top: 22px;
    overflow: hidden;
    opacity: 0.8;
    bottom: 2px;
    &:hover { opacity: 1; }
  }
  .prev { @include nav-direction-button("../img/ico-featured-prev.png", left); }
  .next { @include nav-direction-button("../img/ico-featured-next.png", right); }
}

@media only screen and (min-width: 900px) {
  .flex-direction-nav {
    .prev { @include low-nav-direction-button(left); }
    .next { @include low-nav-direction-button(right); }
  }
}
