// Grid constants used by Susy
$total-columns          : 6;
$column-width           : 6em;
$gutter-width           : 1em;
$grid-padding           : $gutter-width;
$show-grid-backgrounds  : false;

// At 50em available, we pass at 12 columns
$screen-layout          : 50em 12;

// Fonts constants
$font-size              : 12px;
$font-family            : unquote("Arial, Helvetica, sans-serif");
$font-family-fixed      : unquote("andale mono, lucida console, monospace");

// UI Colors
$info-color             : #2BA6CB;
$error-color            : #DA0000;
$success-color          : #7FAE00;
