// Grid constants used by Susy
$total-columns          : 6;
$column-width           : 6em;
$gutter-width           : 1em;
$grid-padding           : $gutter-width;
$show-grid-backgrounds  : false;

// At 40em available, we pass at 12 columns
$screen-layout          : 50em 12;

// Blueprint constants
$blueprint-font-size    : 12px;
$blueprint-font-family  : unquote("Arial, Helvetica, sans-serif");

// Colors
$font-color             : #333333;
$quiet-color            : lighten($font-color, 20%);

$link-color             : #0066AA;
$link-hover-color       : lighten($link-color, 20%);
$link-focus-color       : $link-hover-color;
$link-active-color      : lighten(adjust-hue($link-color, 75deg), 10%);
$link-visited-color     : $link-color;

$header-color           : $link-color + $font-color;

$box-color              : #e9e9f3;
$border-color           : #eeeeee;

// UI Colors
$info-color             : #2BA6CB;
$error-color            : #C00000;
$success-color          : #7FAE00;