@import base.sass
@import blueprint
@import blueprint/modules/scaffolding
@import compass/utilities/lists/bullets.sass
@import compass/utilities/lists/inline_list.sass
@import compass/utilities/links/hover_link.sass

+blueprint
+blueprint-scaffolding

// Global
body
  :background transparent url(../img/background.gif) repeat-x scroll left top

ul, ol
  :margin 0 1.5em 1.5em 0
  :padding-left 3.333em

a
  +hover-link

// Content
#content
  h1, h2, h3
    :margin-top 0

// Sidebar
#sidebar
  div:first-child 
    h3
      :margin-top 0
  h3
    :background-color = !box_color
    :padding 0.5em

  .tags 
    ul
      +inline-list
      +no-bullets
      +tag-cloud(1.5em)

// Entry
.entry
  .entryHeader
    :background-color = !box_color
    :margin-bottom 1em
    .entryTitle
      :margin 0
    .entryInfo
      :color = !box_font_color
      :margin 0
      :padding-left 1.5em
      :background transparent url(../img/category.png) no-repeat scroll

  .entryFooter
    p
      :margin-bottom 0
      :color = !box_font_color
      strong
        :padding-left 1.5em
    .entryTags
      strong
        :background transparent url(../img/tags.png) no-repeat scroll
    .entryShortUrl
      strong
        :background transparent url(../img/shorturl.png) no-repeat scroll
    .entryComments
      strong
        :background transparent url(../img/comments.png) no-repeat scroll

// Comments
ol#commentList
  li
    float: left